<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boardinglabs.taskficien" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.boardinglabs.taskficien.MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.boardinglabs.taskficien.FrontActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.boardinglabs.taskficien.HomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.boardinglabs.taskficien.ListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.boardinglabs.taskficien.SettingsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
